*~
*.iml
*.ipr
*.iws
/.gradle
.idea/
/.project
/.settings/
atlassian-ide-plugin.xml

*/.gradle

bndtools/*/.settings
bndtools/*/bin
bndtools/*/bin_test
bndtools/*/generated
bndtools/cnf/cache/
bndtools/dist/

build/*

gradle/.project
gradle/.settings
gradle/*/.classpath
gradle/*/.metadata
gradle/*/.project
gradle/*/.settings
gradle/*/bin
gradle/*/build

liferay-workspace/.project
liferay-workspace/.settings
liferay-workspace/*/.classpath
liferay-workspace/*/.metadata
liferay-workspace/*/.project
liferay-workspace/*/.settings
liferay-workspace/*/bin
liferay-workspace/*/build

maven/.project
maven/.settings
maven/*/.classpath
maven/*/.metadata
maven/*/.project
maven/*/.settings
maven/*/bin
maven/*/target
maven/*/*/.classpath
maven/*/*/.metadata
maven/*/*/.project
maven/*/*/.settings
maven/*/*/bin
maven/*/*/target

**/.sass-cache