*.iml
*.ipr
*.iws
/.gradle
.idea/
/.project
/.settings/
atlassian-ide-plugin.xml

*/.gradle

bndtools/*/.settings
bndtools/*/bin
bndtools/*/bin_test
bndtools/*/generated
bndtools/cnf/cache/
bndtools/dist/

gradle/.project
gradle/.settings
gradle/*/.classpath
gradle/*/.metadata
gradle/*/.project
gradle/*/.settings
gradle/*/build
gradle/*/bin

liferay-gradle/.project
liferay-gradle/.settings
liferay-gradle/*/.classpath
liferay-gradle/*/.metadata
liferay-gradle/*/.project
liferay-gradle/*/.settings
liferay-gradle/*/bin
liferay-gradle/*/build

maven/.project
maven/.settings
maven/*/.classpath
maven/*/.metadata
maven/*/.project
maven/*/.settings
maven/*/bin
maven/*/target
maven/*/*/.classpath
maven/*/*/.metadata
maven/*/*/.project
maven/*/*/.settings
maven/*/*/bin
maven/*/*/target

**/.sass-cache