body {
  background-color: khaki; }

body .control-menu {
  background-color: darkkhaki; }

body .product-menu .panel-heading .panel-title > .panel-toggler .category-name, body .product-menu .panel-heading .panel-title > .panel-toggler .user-name, body .product-menu .panel-heading .panel-title > .panel-toggler .site-name {
  color: darkkhaki; }

body .lfr-simulation-panel {
  margin: 20px; }
